@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
.heading {
    font-size: 60px;
}
.icon-container {
    clear: left;

}
.hero-icon {
    float: right;
    max-width: 35%;
    max-height: 30%;
}

